# 1. Сначала запрещаем всё в корневой папке (Whitelist режим)
/*

# 2. Обязательно разрешаем сам файл .gitignore, чтобы он обновлялся
!.gitignore

# 3. РАЗРЕШАЕМ ваши папки (Белый список)
# Если добавляете новую лабу, впишите её сюда:
!UniFile/
!Lab2/
!Lab3/
!Lab4/
!Lab5/
!Zad5/
!FirstTask/
!SecondTask/


.vs/
Debug/
Release/
x64/
x86/
bin/
obj/

*.user
*.suo
*.userprefs
