# 1. Сначала запрещаем всё в корневой папке (Whitelist режим)
/*

!.gitignore

!UniFile/
!Lab2/
!Lab3/
!Lab4/
!Lab5/
!Zad5/
!FirstTask/
!SecondTask/
!Task18/
!Task19/
!Task20/
!Task21_HashMapRealization

.vs/
Debug/
Release/
x64/
x86/
bin/
obj/

*.user
*.suo
*.userprefs
